@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,700&family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
    margin: 0 auto;
}
#container{
    margin: 0 auto;
    max-width: 100%;
}

/* Banner */
#banner {
    background-image: url("../images/banner.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 722px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
#banner header{
    width: 100%;
    background-color: rgba(1, 1, 4, 0.364);
    display: flex;
    justify-content: center;
}


#banner-text {
    display: flex;
    justify-content: space-evenly;
    height: 220px;
    width: 80%;
}

#banner-text h1{
    color: #fff;
    font-size: 5em;
    font-family: 'EB Garamond', serif;
    text-align: center;
}
#banner-text p{
    background-color: #fff;
    padding: 40px 20px;
    margin-left: 20px;
    line-height: 1.5em;
    width: 65%;
    height: fit-content;
    font-family: 'Lato', sans-serif;
}
 /* About */

#about-text {
    height: 528px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#about-text div{
    width: 80%;
}
#about-text h5{
    color: #fff;
    font-size: 2em;
    font-family: 'EB Garamond', serif;
}
#about-text h5 span{
    font-size: 2.8em;
}
#about-text p{
    width: 50%;
    padding: 1em;
    font-size: 1em;
    line-height: 1.5em;
    font-family: 'Lato', sans-serif;
}
#signature{
    display: block;
    padding: 25px 0;
    font-family: 'Dancing Script', cursive;
    color: #DFABB9;
    font-size: 1.5em;
}

/* 
    Gallery 
*/
#gallery-box {

    display: flex;
    flex-wrap: wrap;
    height: 978px;
    width: 100%;
    background-color: #E7E8EA;

}

.gaalley-image {
    width: 33.3%;
    height: 489px;
}
 
/* CONTACT */

#contact {
    height: 356px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#contact h3{
    font-size: 3em;
    font-family: 'EB Garamond', serif;
}
#contact p{
    font-family: 'Lato', sans-serif;
}
.input-white{
    width: 250px;
    height: 45px;
    padding: 20px;
    border: none;
    border-radius: 25px;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}
.input-black{
    width: 165px;
    padding: 0;
    background-color: #001;
    color: #f9f9f9;
}



/* POST */

#post {
    height: 640px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.article-iamge {
    height: 530px;
    width: 375px;
}

article {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

article p {
    font-size: 1em;
    padding:1.5em;
    width: 602px;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    line-height: 22px;
}

#collection {
    height: 670px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    
}

#collection h2 {
    text-align: center;
    font-size: 5em;
    color: #fff;
    font-family: 'EB Garamond', serif;
    font-family: 700;
    font-style: italic;
}


#slide {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1024px;
    
}

.slide-image {
    height: 344px;
    width: 252px;
}

    /* PRODUCT */
    
#product{
    padding: 82px 168px;;
    display: flex;
    justify-content: space-between;
}
#product div{
    width: 35%;
}
.product-image{
    width: 30%;
    height: 330px;
}

#cart{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Lato', sans-serif;
    color: #1C1C1C;
}
#cart h6{
    font-weight: 400;
    font-size: 2em;
}
#cart span{
    font-weight: bolder;
    font-size: 1.5em;
}




#subscribe{
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
}
.subscribe-image{
    height: 620px;
    width: 48%;
}
#line{
    margin: 0 auto;
    height: 12px;
    width: 80%;
    background-color: #D9B1B3;
}
#subscribe-form-display{
    text-align: center;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}
#subscribe-form-display h4{
    color: #111111;
    font-size: 5em;
    font-family: 'EB Garamond', serif;
}
.sub-input {
    width: 45%;
    height: 45px;
    padding: 20px;
    border: 1px solid #1111;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}
.sub-button{
    background: #111;
    width: 120px;
    height: 45px;
    color: #f9f9f9;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    border: none;
    border-radius: 25px;
    margin: 15px;

}
#subscribe-form-display p{
    width: 50%;
    margin: 0 auto;
}
#social-links{
    display: flex;
    justify-content: center;
}

.light-purple {
    background-color: #D9B1B3;
    color: #fff;
}